<%- model_class = User -%>


<div class="row" style="PADDING-TOP: 25px">
  <div class="row12" style="PADDING-left: 100px; PADDING-right: 100px; PADDING-TOP: 35px">
    <ul class="thumbnails">
    <% @users.order(:last_name).each do |user| %>
      <li class="span2">
        <a href=<%= user_path(user) %> class="thumbnail">
          <img src=<%= user.photo_url(:thumb).to_s %>>
        </a>
        <div class="caption">
         <h4><%= "#{user.first_name} #{user.last_name}" %></h4>
         <p>Some sample text. Some sample text.</p>
         <p>
            <a href="#" class="btn btn-primary" role="button">
               Button
            </a> 
            <a href="#" class="btn btn-default" role="button">
               Button
            </a>
         </p>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>


<script>
  $.backstretch("<%= asset_path 'StartupInstitutebackground2.jpg' %>", {fade: 750, duration: 6000});
</script>