<%- model_class = User -%>


<div class="row" style="PADDING-TOP: 25px">
  <div class="row12" style="PADDING-left: 100px; PADDING-right: 100px; PADDING-TOP: 35px">
    <ul class="thumbnails">
    <% @users.order(:last_name).each do |user| %>
      <li class="span2">
        <a href=<%= user_path(user) %> class="thumbnail">
          <img src=<%= user.photo_url(:thumb).to_s %> alt="">

        </a>
      </li>
    <% end %>
    </ul>
  </div>
</div>


<script>
  $.backstretch("<%= asset_path 'StartupInstitutebackground2.jpg' %>", {fade: 750, duration: 6000});
</script>