<h2><%= "Suggest New Superlative for #{@user.first_name}" %></h2>

<%= form_tag(user_titles_path(@user.id), method: "POST") do %>
  <%= text_area_tag(:content, "Most likely to...") %>
  <p></p>
  <%= submit_tag("Suggest!") %>
<% end %>


