
#index_body {
  margin: 0;
  padding: 0;
  width: 100%;
  text-alight: center;
}

#panel {
    display: inline-block; 
    width: 90%;
    margin: auto;
    height: 1000px;
    /* don't specify height, you want it to adjust automatically depending on the number of thumbnails */
    border: 2px solid yellow;
    text-align: center;
}

.user_container {
    margin: 15px;
    border-radius: 5px;
    width: 170px;
    height: 170px;
    border: 2px solid blue;
    z-index: 1;
    display: inline-block;

}

.photo_thumbnail {
    margin: 0;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
    border: 2px gray solid;
    width: 170px; 
    height: 170px;
 }

.photo_infobox {
	border-radius: 5px;
    width: 320px;
    height: 180px;
    max-height: 220px;
    border: 1px solid gray;
    background-color: white;
    position: absolute;
    z-index: 2;
    margin-top: -5px;
    margin-left: -50px;
    display: none;
}

.popup_photo {
	vertical-align: top;
    display: inline-block;
    background-color: grey;
    margin: 5px;
    width: 150px;
    align: left;
    border-radius: 5px;
}

.popup_content {
    display: inline-block; 
    width: 150px; 
    margin: 0;    
}